@charset "UTF-8";
@font-face {
  font-family: "newRodin";
  src: url(../font/NewRodin-B.woff2) format("woff2");
  src: url(../font/NewRodin-B.woff) format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "newRodin";
  src: url(../font/NewRodin-M.woff2) format("woff2");
  src: url(../font/NewRodin-M.woff) format("woff");
  font-weight: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  background-repeat: no-repeat;
  overflow-wrap: break-word;
  background-position: center;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

html,
body,
h1,
h2,
h3,
h4,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
}

html {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "newRodin", "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #707070;
  letter-spacing: 0.01rem;
}

@media (max-width: 568px) {
  body {
    font-size: 1rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  opacity: 0.8;
}

article,
header,
footer,
aside,
figure,
figcaption,
nav,
section,
img,
video,
button,
a {
  display: block;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ol,
ul {
  list-style: none;
  list-style-type: none;
}

input,
button,
select,
textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-appearance: none;
  max-width: 100%;
  outline: 0;
  font-size: 1.7rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pcView {
  display: block !important;
}

@media (max-width: 568px) {
  .pcView {
    display: none !important;
  }
}

.spView {
  display: none !important;
}

@media (max-width: 568px) {
  .spView {
    display: block !important;
  }
}

.widthKeeper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

@media (max-width: 768px) {
  .widthKeeper {
    max-width: 95%;
  }
}

.jelly {
  -webkit-animation: gelatine 1s infinite;
          animation: gelatine 1s infinite;
}

@-webkit-keyframes gelatine {
  from,
  to {
    -webkit-transform: scale(0.95, 0.95);
            transform: scale(0.95, 0.95);
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes gelatine {
  from,
  to {
    -webkit-transform: scale(0.95, 0.95);
            transform: scale(0.95, 0.95);
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.flip-horizontal {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.greenTitle {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
}

.greenTitle .widthKeeper {
  min-height: 10rem;
}

.greenTitle .widthKeeper h2.greenBack {
  position: absolute;
  color: #fff;
  font-weight: bold;
  font-size: 2.2rem;
  padding: 30px 50px;
  text-align: center;
  line-height: 3.2rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .greenTitle .widthKeeper h2.greenBack {
    font-size: 1.7rem;
    padding: 30px 50px;
    text-align: center;
    line-height: 2.8rem;
  }
}

@media (max-width: 568px) {
  .greenTitle .widthKeeper h2.greenBack {
    font-size: 1.3rem;
    padding: 20px;
    line-height: 2rem;
  }
}

.greenTitle .widthKeeper .transparentGreen {
  position: absolute;
  background-color: #06663f;
  mix-blend-mode: multiply;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 60%;
  height: 10rem;
  z-index: 1;
}

@media (max-width: 568px) {
  .greenTitle .widthKeeper .transparentGreen {
    width: 95%;
  }
}

.greenH2, main#policy h1 {
  color: #06663f;
  font-weight: bold;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
  line-height: 4rem;
}

@media (max-width: 568px) {
  .greenH2, main#policy h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
}

.paleGreenBg {
  background: -ms-linear-gradient(-32deg, #e3f2e9 0%, #cee8d9 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#E3F2E9', endColorstr='#CEE8D9' ,GradientType=0)";
  background: linear-gradient(122deg, #e3f2e9 0%, #cee8d9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E3F2E9',endColorstr='#CEE8D9' , GradientType=1);
}

.posR {
  position: relative;
}

section {
  padding: 100px 0;
}

@media (max-width: 768px) {
  section {
    padding: 50px 0;
  }
}

a[href^="tel:"] {
  pointer-events: none;
}

@media (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

.inside {
  background: linear-gradient(-45deg, #f95503 0.04%, #f98703 99.58%);
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  -webkit-box-shadow: 1px 1px 5px grey;
  box-shadow: 1px 1px 5px grey;
  cursor: pointer;
  margin: 50px auto;
  width: 50%;
  border: 6px outset #d65915;
}

@media (max-width: 568px) {
  .inside {
    width: 300px;
  }
}

.inside:hover {
  background: linear-gradient(45deg, #f95503 0.04%, #f98703 99.58%);
}

section#top {
  background-image: url(../img/bg_top.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}

section#top .widthKeeper {
  position: relative;
  height: 700px;
}

section#top .widthKeeper img.img01 {
  width: 50%;
  position: absolute;
  top: 5%;
}

@media (max-width: 768px) {
  section#top .widthKeeper img.img01 {
    width: 70%;
  }
}

@media (max-width: 568px) {
  section#top .widthKeeper img.img01 {
    width: 100%;
    top: 3%;
  }
}

section#top .widthKeeper img.img02 {
  position: absolute;
  right: 0;
  width: 45%;
  top: 45%;
}

@media (max-width: 768px) {
  section#top .widthKeeper img.img02 {
    width: 60%;
    top: 50%;
  }
}

@media (max-width: 568px) {
  section#top .widthKeeper img.img02 {
    width: 100%;
    top: 45%;
  }
}

section#top .widthKeeper img.img03 {
  position: absolute;
  right: 0;
  width: 45%;
  top: 60%;
}

@media (max-width: 568px) {
  section#top .widthKeeper img.img03 {
    top: 55%;
    width: 100%;
  }
}

section#top .widthKeeper button {
  position: absolute;
  right: 0;
  width: 350px;
  bottom: 20px;
}

@media (max-width: 568px) {
  section#top .widthKeeper button {
    bottom: 13%;
    width: 95%;
    left: 0;
    margin: auto;
  }
}

section#contact {
  background-image: url(../img/bg_contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

section#contact .widthKeeper h2 {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 568px) {
  section#contact .widthKeeper h2 {
    width: 95%;
  }
}

@media (max-width: 768px) {
  section#contact .widthKeeper .contactBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section#contact .widthKeeper .contactBox .contactBoxPanel {
  width: 48%;
  background: #fff;
  margin: 30px auto;
  -webkit-box-shadow: #868686 1px 1px 4px;
          box-shadow: #868686 1px 1px 4px;
  padding: 20px 40px;
  padding-bottom: 45px;
}

@media (max-width: 768px) {
  section#contact .widthKeeper .contactBox .contactBoxPanel {
    width: 95%;
  }
}

@media (max-width: 568px) {
  section#contact .widthKeeper .contactBox .contactBoxPanel {
    padding: 20px;
  }
}

section#contact .widthKeeper .contactBox .contactBoxPanel h3 {
  color: #656565;
  margin-bottom: 10px;
}

@media (max-width: 568px) {
  section#contact .widthKeeper .contactBox .contactBoxPanel h3 {
    text-align: center;
  }
}

section#contact .widthKeeper .contactBox .contactBoxPanel form p {
  margin: 10px auto;
}

section#contact .widthKeeper .contactBox .contactBoxPanel form label span {
  text-align: center;
}

section#contact .widthKeeper .contactBox .contactBoxPanel form label input {
  display: block;
  margin: 0 auto;
  width: 80%;
  padding: 5px 15px;
  border: 2px solid #e4e4e4;
}

@media (max-width: 568px) {
  section#contact .widthKeeper .contactBox .contactBoxPanel form label input {
    padding: 5px;
    width: 95%;
  }
}

section#contact .widthKeeper .contactBox .contactBoxPanel form label ::-webkit-input-placeholder {
  color: #ccc;
  font-size: 1.1rem;
}

section#contact .widthKeeper .contactBox .contactBoxPanel form label :-ms-input-placeholder {
  color: #ccc;
  font-size: 1.1rem;
}

section#contact .widthKeeper .contactBox .contactBoxPanel form label ::-ms-input-placeholder {
  color: #ccc;
  font-size: 1.1rem;
}

section#contact .widthKeeper .contactBox .contactBoxPanel form label ::placeholder {
  color: #ccc;
  font-size: 1.1rem;
}

section#contact .widthKeeper .contactBox .contactBoxPanel button {
  margin: 10px auto;
}

section#contact .widthKeeper .contactBox .contactBoxPanel button input[type="submit"] {
  background: linear-gradient(-45deg, #f95503 0.04%, #f98703 99.58%);
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  width: 300px;
  color: #fff;
  font-weight: bold;
  -webkit-box-shadow: 1px 1px 5px grey;
          box-shadow: 1px 1px 5px grey;
  margin-top: 15px;
  cursor: pointer;
}

section#contact .widthKeeper .contactBox .contactBoxPanel button input[type="submit"]:hover {
  opacity: 0.8;
}

section#contact .widthKeeper .contactBox .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#contact .widthKeeper .contactBox .right p {
  color: #06663f;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

section#contact .widthKeeper .contactBox .right .btnArea button {
  width: 90%;
}

section#contact .widthKeeper .contactBox .right .btnArea button a {
  background: #3062a4;
  background: linear-gradient(125deg, #3062a4 0%, #2b4465 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  padding: 15px 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 1px 1px 5px grey;
          box-shadow: 1px 1px 5px grey;
  height: 130px;
}

@media (max-width: 568px) {
  section#contact .widthKeeper .contactBox .right .btnArea button a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section#contact .widthKeeper .contactBox .right .btnArea button a div {
  width: 100px;
  display: block;
}

@media (max-width: 568px) {
  section#contact .widthKeeper .contactBox .right .btnArea button a div {
    width: 90px;
    padding-left: 10px;
  }
}

section#contact .widthKeeper .contactBox .right .btnArea button a p {
  color: #fff;
  font-size: 2.7rem;
  width: 70%;
  font-weight: bold;
}

@media (max-width: 768px) {
  section#contact .widthKeeper .contactBox .right .btnArea button a p {
    font-size: 2.8rem;
  }
}

@media (max-width: 568px) {
  section#contact .widthKeeper .contactBox .right .btnArea button a p {
    width: 100%;
    font-size: 2.1rem;
  }
}

section#contact .widthKeeper .contactBox .right .btnArea button:last-of-type {
  margin-top: 30px;
}

section#contact .widthKeeper .contactBox .right .btnArea button:last-of-type a {
  background: #73e04a;
  background: linear-gradient(125deg, #73e04a 0%, #52b52d 100%);
}

section#contact .widthKeeper .contactBox .right .btnArea button:last-of-type a div {
  width: 74px;
  padding-left: 10px;
}

@media (max-width: 568px) {
  section#contact .widthKeeper .contactBox .right .btnArea button:last-of-type a div {
    width: 67px;
    padding-left: 0;
    margin-left: 0;
  }
}

section#caution {
  padding: 0;
}

section#caution .widthKeeper .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}

@media (max-width: 568px) {
  section#caution .widthKeeper .flex {
    padding: 50px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section#caution .widthKeeper .flex > div {
  width: 48%;
}

@media (max-width: 568px) {
  section#caution .widthKeeper .flex > div {
    width: 95%;
    margin: 0 auto;
  }
}

@media (max-width: 568px) {
  section#caution .widthKeeper .flex > div.right {
    width: 95%;
    margin: 0 auto;
  }
}

section#caution .widthKeeper .flex > div.right img:first-of-type {
  width: 90px;
  float: right;
  padding-top: 100px;
}

@media (max-width: 568px) {
  section#caution .widthKeeper .flex > div.right img:first-of-type {
    padding-top: 20px;
  }
}

section#caution .widthKeeper .flex > div.right img:last-of-type {
  clear: both;
  padding-top: 20px;
  padding-left: 20%;
  padding-bottom: 10px;
}

section#caution .widthKeeper .flex > div.right p a {
  text-align: right;
  font-size: 0.9rem;
}

@media (max-width: 568px) {
  section#caution .widthKeeper .flex > div.right p a {
    font-size: 0.5rem;
  }
}

section#why {
  padding: 0;
}

section#why #cantChoose {
  background-image: url(../img/bg_cantChoose.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px 0;
  position: relative;
}

section#why #cantChoose img {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 568px) {
  section#why #cantChoose img {
    width: 100%;
  }
}

section#why #cantChoose .posA {
  position: absolute;
  width: 180px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -40px;
}

section#why .greenTitle {
  background-image: url(../img/bg_why.jpg);
}

section#why #whyFlex {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0;
}

@media (max-width: 568px) {
  section#why #whyFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section#why #whyFlex img {
  width: 48%;
  margin-bottom: 30px;
}

@media (max-width: 568px) {
  section#why #whyFlex img {
    width: 95%;
    margin: 0 auto 15px;
  }
}

section#why .paleGreenBg {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  section#why .paleGreenBg .widthKeeper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section#why .paleGreenBg .widthKeeper div {
  width: 50%;
}

@media (max-width: 768px) {
  section#why .paleGreenBg .widthKeeper div {
    width: 95%;
    margin: 0 auto;
  }
}

section#why .paleGreenBg .widthKeeper div.left {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 568px) {
  section#why .paleGreenBg .widthKeeper div.left {
    padding: 50px 0;
  }
}

section#why .paleGreenBg .widthKeeper div.left p {
  color: #707070;
}

section#why .paleGreenBg .widthKeeper div.left ul li {
  font-weight: bold;
  font-size: 1.6rem;
  color: #06663f;
  margin: 12px 0;
}

@media (max-width: 568px) {
  section#why .paleGreenBg .widthKeeper div.left ul li {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  section#why .paleGreenBg .widthKeeper div.right {
    margin-bottom: 50px;
  }
}

section#flow .widthKeeper p {
  text-align: center;
  color: #707070;
  font-size: 1.5rem;
  margin-bottom: 50px;
}

@media (max-width: 568px) {
  section#flow .widthKeeper p {
    font-size: 1.3rem;
  }
}

section#flow .widthKeeper .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

@media (max-width: 568px) {
  section#flow .widthKeeper .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section#flow .widthKeeper .flex div {
  width: 24%;
  position: relative;
}

@media (max-width: 568px) {
  section#flow .widthKeeper .flex div {
    width: 90%;
    margin: 10px auto;
  }
}

section#flow .widthKeeper .flex div:after {
  content: "";
  background-image: url(../img/flow__img_arrow.svg);
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  right: -40px;
  top: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  z-index: 5;
}

@media (max-width: 568px) {
  section#flow .widthKeeper .flex div:after {
    left: 0;
    right: 0;
    top: unset;
    bottom: -35px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

section#flow .widthKeeper .flex div:last-of-type:after {
  display: none;
}

section#voice .swiper-container {
  padding-bottom: 50px;
}

@media (max-width: 568px) {
  section#voice .swiper-container {
    padding-bottom: 0;
  }
}

section#voice .voicePanel {
  border: 1px solid #2ab076;
  padding: 30px;
  border-radius: 10px;
  height: auto;
  min-height: 620px;
}

@media (max-width: 568px) {
  section#voice .voicePanel {
    min-height: 500px;
  }
}

section#voice .voicePanel > p {
  margin-top: 15px;
}

section#voice .voicePanel .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#voice .voicePanel .flex .voiceIcon {
  width: 20%;
}

section#voice .voicePanel .flex .right {
  width: 78%;
}

section#voice .voicePanel .flex .right p.green {
  background-color: #06663f;
  padding: 3px 5px;
  color: #fff;
  font-weight: bold;
  display: block;
  float: right;
  margin-bottom: 5px;
}

section#voice .voicePanel .flex .right h3 {
  clear: both;
  text-align: right;
  font-weight: bold;
  color: #06663f;
  margin: 5px 0;
}

section#voice .voicePanel .flex .right > p {
  text-align: right;
  font-weight: bold;
}

section#voice .voicePanel .flex .right > p span {
  display: inline-block;
  font-weight: bold;
  color: #e67b3f;
  font-size: 2.3rem;
}

section#staff .widthKeeper .staffBox {
  background-color: #fff;
  padding: 30px 50px;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  height: auto;
  min-height: 400px;
}

@media (max-width: 568px) {
  section#staff .widthKeeper .staffBox {
    width: 95%;
    margin: 0 auto 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 25px;
  }
}

section#staff .widthKeeper .staffBox h3 {
  position: absolute;
  background: #06663f;
  color: #fff;
  padding: 5px 20px;
  top: -20px;
  left: -10px;
}

section#staff .widthKeeper .staffBox .staffPic {
  width: 20%;
  margin-top: 10px;
}

@media (max-width: 568px) {
  section#staff .widthKeeper .staffBox .staffPic {
    width: 100%;
    margin-bottom: 20px;
  }
}

section#staff .widthKeeper .staffBox .staffCap {
  width: 75%;
}

@media (max-width: 568px) {
  section#staff .widthKeeper .staffBox .staffCap {
    width: 100%;
  }
}

section#staff .widthKeeper .staffBox .staffCap h4 {
  margin-bottom: 20px;
  font-size: 1.4rem;
}

@media (max-width: 568px) {
  section#staff .widthKeeper .workPhoto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section#staff .widthKeeper .workPhoto div {
    margin-bottom: 15px;
  }
}

section#ceo .widthKeeper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 568px) {
  section#ceo .widthKeeper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-flow: column-reverse;
        flex-flow: column-reverse;
  }
}

section#ceo .widthKeeper .left {
  width: 60%;
  padding-right: 70px;
  margin-top: 100px;
}

@media (max-width: 768px) {
  section#ceo .widthKeeper .left {
    padding-right: 0;
  }
}

@media (max-width: 568px) {
  section#ceo .widthKeeper .left {
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

section#ceo .widthKeeper .left h3 {
  margin-bottom: 30px;
}

section#ceo .widthKeeper .right {
  width: 38%;
}

@media (max-width: 568px) {
  section#ceo .widthKeeper .right {
    width: 100%;
  }
}

section#ceo .widthKeeper .right img {
  margin-bottom: 30px;
}

section#ceo .widthKeeper .right img:last-of-type {
  width: 55%;
  float: right;
}

section#faq .greenTitle {
  background-image: url(../img/bg_faq.jpg);
  background-position: center;
}

section#faq #faqBox ul {
  margin: 50px 0;
}

section#faq #faqBox ul li details {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 20px;
  cursor: pointer;
}

section#faq #faqBox ul li details summary {
  background: #f2f2f2;
  padding: 25px 50px;
  font-size: 1.4rem;
  font-weight: bold;
}

@media (max-width: 568px) {
  section#faq #faqBox ul li details summary {
    padding: 25px;
  }
}

section#faq #faqBox ul li details summary:focus {
  outline: none;
}

section#faq #faqBox ul li details p {
  background: #fafafa;
  padding: 20px;
}

section#faq #faqBox ul li details[open] > div {
  -webkit-animation-name: slideDown;
          animation-name: slideDown;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slideDown {
  from {
    opacity: 0;
    height: 0;
    padding: 0;
  }
  to {
    opacity: 1;
    height: var(--contentHeight);
    padding: 20px;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    height: 0;
    padding: 0;
  }
  to {
    opacity: 1;
    height: var(--contentHeight);
    padding: 20px;
  }
}

section#company .greenTitle {
  background-image: url(../img/bg_company.jpg);
  background-position: 0px -140px;
}

@media (max-width: 568px) {
  section#company .greenTitle {
    background-position: center;
  }
}

section#company #companyInfo {
  margin-top: 50px;
  padding: 0 50px;
}

@media (max-width: 568px) {
  section#company #companyInfo {
    padding: 0;
  }
}

section#company #companyInfo dl {
  border-bottom: 1px solid #e6e6e6;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  section#company #companyInfo dl {
    width: 95%;
  }
}

@media (max-width: 568px) {
  section#company #companyInfo dl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section#company #companyInfo dl dt {
  font-weight: bold;
  width: 28%;
  padding-left: 20px;
  color: #6b6b6b;
}

@media (max-width: 568px) {
  section#company #companyInfo dl dt {
    text-align: center;
    width: 100%;
    padding-left: 0;
  }
}

section#company #companyInfo dl dd {
  width: 70%;
}

@media (max-width: 568px) {
  section#company #companyInfo dl dd {
    text-align: center;
    width: 100%;
  }
}

footer {
  background-image: url(../img/bg_footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

footer::after {
  content: "";
  background-color: rgba(42, 68, 102, 0.85);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

footer .widthKeeper {
  height: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 5;
}

@media (max-width: 568px) {
  footer .widthKeeper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .widthKeeper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 20px;
}

footer .widthKeeper .left {
  width: 40%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 768px) {
  footer .widthKeeper .left {
    width: 50%;
  }
}

@media (max-width: 568px) {
  footer .widthKeeper .left {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .widthKeeper .left div {
  width: 100px;
  margin-right: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

@media (max-width: 568px) {
  footer .widthKeeper .left div {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

footer .widthKeeper .left p {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}

@media (max-width: 568px) {
  footer .widthKeeper .left p {
    text-align: center;
  }
}

footer .widthKeeper .right {
  width: 30%;
}

@media (max-width: 568px) {
  footer .widthKeeper .right {
    width: 100%;
  }
}

footer .widthKeeper .right a {
  color: #fff;
  text-align: right;
}

@media (max-width: 568px) {
  footer .widthKeeper .right a {
    text-align: center;
  }
}

main#policy h1 {
  margin-bottom: 50px;
  line-height: 3rem;
  margin-top: 50px;
}

main#policy section p {
  margin-bottom: 30px;
}

main#policy section dl {
  margin-bottom: 30px;
}

main#policy section dl dt {
  font-weight: bold;
}

main#policy section dl dd {
  margin-bottom: 20px;
}

main#policy section dl dd ul li {
  padding-left: 20px;
}

main#policy section dl#policyInfo dt {
  text-align: right;
}

main#policy section dl#policyInfo dd {
  margin-bottom: 0;
  text-align: right;
}

#mainContact {
  padding-top: 50px;
  padding-bottom: 180px;
  text-align: center;
  min-height: 100%;
}

#mainContact .returnTop {
  font-weight: bold;
  margin-top: 100px;
  text-decoration: underline;
}

.formTable tbody {
  margin: 0 auto;
  display: block;
}

.formTable tr {
  border-bottom: 1px solid #eaeaea;
}

.formTable th {
  text-align: center;
}

.formTable td {
  text-align: center;
}

#mail_btn_submit {
  background: linear-gradient(-45deg, #f95503 0.04%, #f98703 99.58%);
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  width: 300px;
  color: #fff;
  font-weight: bold;
  -webkit-box-shadow: 1px 1px 5px grey;
          box-shadow: 1px 1px 5px grey;
  margin-top: 15px;
  cursor: pointer;
}

#mail_btn_submit:hover {
  opacity: 0.8;
}

#mail_btn_prev {
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  width: 200px;
  color: #5d5d5d;
  font-weight: bold;
  -webkit-box-shadow: 1px 1px 5px grey;
  box-shadow: 1px 1px 5px grey;
  margin-top: 30px;
  background: #d0d0d0;
  text-align: center;
  margin-bottom: 50px;
}
/*# sourceMappingURL=main.css.map */